ion-content,ion-toolbar,ion-tab-bar,ion-header{
    --background:white;
}

ion-title,h1{
    color:black;
}

ion-card{
    --background:white;
    width:300px;
    margin: 30px auto 0;
    box-shadow: 2px 2px 5px #000;
}

ion-button{
    --background:rgba(28, 101, 14, 0.802);
}