<ion-header>
  <ion-toolbar>
    <ion-title>notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search" animated color="medium"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-card><h1>Tienes una compra pendiente</h1></ion-card>
    </ion-item>
    <ion-item>
      <ion-card><h1>Hay una ofertas</h1></ion-card>
    </ion-item>
    <ion-item>
      <ion-card><h1>Te has ganado una compra</h1></ion-card>
    </ion-item>
  </ion-list>
</ion-content>
