
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="carousel">
        <ion-icon name="albums-outline"></ion-icon>
        <ion-label>Carousel</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="product">
        <ion-icon name="shirt-outline"></ion-icon>
        <ion-label>Producto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="edit-user">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Editar usuario</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-icon name="notifications-circle-outline"></ion-icon>
        <ion-label>Notificaciones</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
