ion-content,ion-header,ion-toolbar{
    --background:white;
}

mat-form-field,ion-label{
    color: black;
}

ion-card{
    margin: 40px auto 0;
    box-shadow: 2px 2px 5px #000;
    --background:white;
    width: 300px;
}

.texto{
    color: black;
    padding: 8px;
    text-align: center;
}
  