<ion-header>
  <ion-toolbar>
    <ion-title>producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center !important;">
  <ion-slide>
    <ion-card>
      <img src="https://i.pinimg.com/564x/8e/af/6d/8eaf6d583ee51f78cb1422f62f74ec37.jpg" alt="">
     </ion-card>
  </ion-slide>
  <br>
  <mat-form-field class="example-full-width" >
    <mat-label>Nombre del producto</mat-label>
    <input matInput placeholder="Nombre del producto" required>
  </mat-form-field>

  <ion-button expand="block"><ion-icon slot="icon-only" name="qr-code-outline"></ion-icon></ion-button>

</ion-content>
