<ion-header>
  <ion-toolbar>
    <ion-title>producto</ion-title>
    <ion-button class="ls" slot="end"><ion-icon name="exit-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center !important;">
  <ion-slide>
    <ion-card>
      <img src="assets/image/5.jpg" alt="">
     </ion-card>
  </ion-slide>
  <br><br>
  <h1>El libro de la fisica</h1>

  <ion-button class="lsB" expand="block"><ion-icon slot="icon-only" name="qr-code-outline"></ion-icon></ion-button>

</ion-content>
