ion-content,ion-toolbar{
    --background:white;
  }
  
mat-form-field,ion-label{
   margin-top: -10px;
    color: black;
}

ion-card{
  margin: 40px auto 0;
  border: 3px solid #000000;
  --background:white;
  width: 250px;
  height: 200px;
}

ion-label{
  margin-top: 20px;
}

.texto{
  color: black;
  padding: 8px;
  text-align: center;
}