<ion-header>
  <ion-toolbar>
    <ion-title>carousel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center !important;">
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <img src="https://i.pinimg.com/564x/d6/64/59/d66459aa75fd7a0d8f79f4a6f0e0c374.jpg" alt="">
       </ion-card>
      </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://i.pinimg.com/564x/7f/a0/75/7fa075dadf6c715402369967240c7f74.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://i.pinimg.com/564x/8e/af/6d/8eaf6d583ee51f78cb1422f62f74ec37.jpg">
      </ion-card>
    </ion-slide>
  </ion-slides>
  
  <ion-button expand="block"><ion-icon slot="icon-only" name="qr-code-outline"></ion-icon></ion-button>
  <br><br>
</ion-content>
