<ion-header>
  <ion-toolbar>
    <ion-title>carousel</ion-title>
    <ion-button class="ls" slot="end"><ion-icon name="exit-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center !important;">
  <ion-slides [options]="slideOptions" pager="true" #slider (ionSlidesDidLoad)="slidesDidLoad(slider)">
    <ion-slide>
      <ion-card>
        <img src="assets/image/1.jpg">
       </ion-card>
      </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/image/2.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/image/3.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/image/4.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/image/5.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/image/6.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
         <img src="assets/image/7.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
         <img src="assets/image/8.jpg">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
         <img src="assets/image/10.png">
      </ion-card>
    </ion-slide>

  </ion-slides>
  
  <ion-button class="lsB" expand="block"><ion-icon slot="icon-only" name="qr-code-outline"></ion-icon></ion-button>
  <br><br>
</ion-content>
